.card {
  width: 296px;
  height: 390px;
  margin: 16px;
  justify-content: center;
  background: #eeeeee;
  box-shadow: 3px 3px 3px #aaaaaa;
  border-radius: 5px;
  text-align: center;
  padding-top: 0.9375rem;
  font-weight: 600;
}